* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

:root {
    --bg-primary: #2E82B0;
}

header {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    background-color: #2E82B0;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-bars {
    color: white;
}

.mobile {
    display: none;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #003350;
    transition: 0.3s;
}

@media(max-width: 768px) {
    header {
        flex-direction: column;
        gap: 30px;
    }

    .mobile {
        display: flex;
    }

    nav ul {
        display: none;
        gap: 10px;
        flex-direction: column;
    }
}