* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

:root {
    --bg-primary: #142735;
    --text-main: #307fa1;
    --text-secondary: #255f79;
    --base-color:#E8F1F2;
    --text-grey: rgba(228, 228, 228, 0.8);
    --text-white: #FFF;
}

p {
    font-size: 14px;
    color: var(--text-grey);
    line-height: 180%;
}

h1 {
    font-size: 32px;
    color: var(--text-main);
}

body {
    background-color: var(--bg-primary);
}

header {
    display: flex;
    padding: 3rem 5rem;
    justify-content: space-between;
    background-color: var(--bg-primary);
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar img {
    width: 40px;
}

.fa-bars {
    color: var(--text-grey);
}

.mobile {
    display: none;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-grey);
    transition: 0.3s;
}

nav ul li a:hover {
    color: var(--text-white);
    transition: 0.3s;
}

.banner-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    flex-direction: column;
    height: 55vh;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.banner p{
    color: var(--base-color);
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner img {
    width: 30px;
}

.button{
    all: unset;
    color: var(--base-color);
    background-color: var(--text-main);
    border-radius: 10px;
    padding: 1rem;
    width: 140px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
}

.button:hover {
    background-color: var(--text-secondary);
    transition: .2s;
}

main {
    display: flex;
    flex-direction: column;
    padding: 2rem 8rem;
}

.about {
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-text h2{
    color: var(--text-white);
}

@media(max-width: 768px) {
    header {
        padding: 2rem 2rem 0;
        flex-direction: column;
        gap: 30px;
    }

    .mobile {
        display: flex;
    }

    nav ul {
        display: none;
        gap: 10px;
        flex-direction: column;
    }

    main {
        padding: 2rem 2rem 0;
    }

    .about {
        flex-direction: column;
    }
}